body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: monospace;
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #58a6ff;
}

.subtitle {
    color: #8b949e;
    margin-bottom: 30px;
}

.terminal-box {
    background-color: #161b22;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #30363d;
}

input[type="file"] {
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #238636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #2ea043;
}

.output {
    margin-top: 20px;
    text-align: left;
}

.safe {
    color: #3fb950;
}

.danger {
    color: #f85149;
}

.neutral {
    color: #d29922;
}

.note {
    margin-top: 30px;
    font-size: 14px;
    color: #8b949e;
}
